<body style="background-color:#8A084B;">
<table border="8" width="700" align="center" bordercolor="#F781F3">
<tr><th colspan="2"><font color="#19070B">ABOUT</font></th></tr>
<tr>
	<td><font color="#19070B">Name</font></td>
	<td><font color="#19070B">Snigdha Ray</font></td>
</tr>
<tr>
	<td><font color="#19070B">Father's Name</font></td>
	<td><font color="#19070B">Prafulla Kumar Ray</font></td>
</tr>
<tr>
	<td><font color="#19070B">Permanet Address</font></td>
	<td><font color="#19070B">Kapaleswer,Choudwar,Cuttack,Odisha</font></td>
</tr>
<tr>
	<td><font color="#19070B">Present Address</font></td>
	<td><font color="#19070B">B-305,Streling Brookside,Kundanahalli Colony,ITPL main road,Bangalore</font></td>
</tr>
<tr>
	<td><font color="#19070B">Qualification</font></td>
	<td><font color="#19070B">B.Tech in Computer Science and Engineering</font></td>
</tr>
<tr>
	<td><font color="#19070B">Strengths</font></td>
	<td><font color="#19070B">My parents advice,Adoptable in changing environments</font></td>
</tr>
<tr>
	<td><font color="#19070B">Weekness</font></td>
	<td><font color="#19070B">Sensitive,Fear of Failure-becomes hurdles in taking risks</font></td>
</tr>
<tr>
	<td><font color="#19070B">Hobbies</font></td>
	<td><font color="#19070B">Net surfing,Listening Music</font></td>
</tr>
<tr>
	<td><font color="#19070B">Short-term Goal</font></td>
	<td><font color="#19070B">To be placed in a good company where i can polish my knowledge and skills</font></td>
</tr>
<tr>
	<td><font color="#19070B">Long-term Goal</font></td>
	<td><font color="#19070B">Be in a top-most level of success</font></td>
</tr>
