<body style="background-color:#8A084B;">
<div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1><font color="#FF00FF">SNIGDHA RAY</font></h1>
    <p class="lead"><font color="#F5A9F2">B.Tech in Computer Science and Engineering</font></p>
    <a class="btn btn-large btn-success" href="contact_path">May I assist you?</a>
  </div>

  <hr>

  <!-- Example row of columns -->
  <div class="row-fluid">
   <h2><font color="#F5A9F2" align="center">Skills:-
   <ul>Ruby On Rails  </h2>
    <li>Active Record Basics</li>&nbsp
    <li>Rails Database Migration</li>&nbsp
    <li>Active Record Validation</li>&nbsp
    <li>Action View</li>&nbsp
    <li>Action Controller</li>&nbsp
    <li>Rspec</li>&nbsp
    <li>Github</li>&nbsp
    <li>Bootstrap</li>&nbsp
   </ul></font>
  </div>

  <hr>
</div>  