<body style="background-color:black;">
<table border="1" width="500" align="center" bordercolor="pink">
<tr>
<td><b>Project:-Mail Server</b></td>
</tr>
<tr>
<td>Environment:-C#, Visual Studio. NET, ASP.NET,ADO.NET and SQLServer2005</td>
</tr>
<tr><td>Tools:-AJAX Tool Kit</td></tr>
<tr>
	<td>Description:-This project describes how we transfer data, messages etc through e-mail and also we can view the recent news like headlines, Breaking News, Detail News , Weather Details and Horoscope etc.</td>
</tr>
</table>
&nbsp
&nbsp
<table border="1" width="500" align="center" bordercolor="pink">
<tr>
<td><b>Project:-Kaun Banega Crorepati</b></td>
</tr>
<tr>
<td>Environment:-C++</td>
</tr>
<tr>
	<td>Description:-This project describes the popular game reality show "Kaun Banega Crorepati".It has four lifelines and each question has four options.There is 10 questions.After giving 10 correct answers the winner will get one crore rupees.</td>
</tr>
</table>